body {
    background: #23252C;
    font-family: inter, sans-serif;
    color: #FFFFFF;
}


.app-container {
    margin: 44px auto;
    width: 317px;
    background: #1A1B21;
    border-radius: 10px;
    overflow: hidden;
}

h1 {
    margin: 0;
}

.profile-image {
    width: 100%;
    height: auto;
    display: block;
}

.info-container {
    text-align: center;
}

.name {
    font-size: 25px;
    font-weight: 700;
    margin: 21px 0 6px;
    line-height: 100%;
}

.title {
    font-size: 12.8px;
    font-weight: 400;
    color: #F3BF99;
    margin: 0;
}

.info, .about-container {
    width: 247px;
    margin: auto;
}

.email {
    font-family: Inter;
    font-weight: 400;
    font-size: 10.24px;
    line-height: 150%;
    letter-spacing: 0%;
    text-align: center;
    color: #f5f5f5;
    margin-top: 8px;
    margin-bottom: 15px;
}

.buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 12px;
    
}

button {
    width: 115px;
    height: 34px;
    /* background: #F3BF99; */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;   
    justify-content: center;
    gap: 8px;
    font-size: 14px;
    line-height: 16px;
    font-weight: 500;
}

/* button:hover {
    background: #E0A86D;
} */

.email-button {
    background: #fff;
    color: #374151;
}

.linkedin-button {
    background: #5093E2;
    color: #fff;
}

.about-container h2 {
    font-size: 16px;
    font-weight: 700;
    line-height: 150%;
    margin: 5px 0;
}

.about-container p {
    font-weight: 400;
    font-style: Regular;
    font-size: 10.24px;
    line-height: 150%;
    letter-spacing: 0%;
    color: #DCDCDC;
    margin-top: 0;
    margin-bottom: 15px;
}

.about-container {
    margin: 33px auto 24px;
    width: 247px;
}

.footer-container {
    display: flex;
    justify-content: center;
    gap: 24px;
    padding: 19px 0;
    background: #161619;
}

.info-container a {
    text-decoration: none;
}